body {
  margin: 20px;
  font: 16px 'Open Sans', sans-serif;
}
html {
  font-family: Roboto, sans-serif;
}

h3 {
  color: #66D9EF;
}

.nav > li > a {
  color: #ffffff;
  padding: 30px;
}

body {
  background-color: #202020;
  color: #ffffff;
}

a {
  text-decoration: none;
}

.contact {
  color: #ffffff;
}

section {
  margin-bottom: 3em;
  position: relative;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.about_me {
  font-size: 20px;
  width: 700px;
}

.footer {
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 1024px) {
  .hello_world_img {
    width: 100%;
  }

  .about_me {
    width: auto;
    margin: 0 auto;
    text-align: center;
  }

  .footer {
    margin: 0 auto;
    text-align: center;
  }

  .contact {
    text-align: center;
  }
}





