/* Main styles */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 auto;
  color: #212529;
}

.bg {
  background-image: url('../images/monitors.jpg');
  background-size: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: #33b2db;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  margin: 50px;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 1.25;
  color: #313131;
}

h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.25;
  color: #313131;
  margin: 0 auto;
  text-align: center;
}

.contact {
  padding: 14px 12px;
}

.contact-me {
  margin: 0 auto;
  text-align: center;
}

.contact_text {
  width: 70%;
  margin: 0 auto;
}

.contact-text-main {
  width: 60%;
  margin: 0 auto;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #000000;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

.btn {
  background-color: #111;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.bottom-container {
  padding: 0 20px;
}

.footer-link {
  margin: 30px;
  text-align: center;
}

.footer-link-contact {
  padding: 14px 12px;
}

.copyright {
  color: #999999;
  font-size: 0.80rem;
  text-align: center;
}

.skill-row {
  width: 60%;
  margin: 100px auto;
  text-align: left;
}

.intro {
  width: 28%;
  margin: 30px auto 15px auto;
  text-align: center;
}

.profile-img {
  width: 28%;
  display: block;
  margin: 0 auto;
  padding: 20px;

}

.middle-container {
  margin: 50px 0;
}

.faq {
  width: 50%;
  margin: 50px auto 30px;
  text-align: left;
}

.works {
  width: 50%;
  margin: 50px auto 50px;
  text-align: center;
}

.coffee {
  margin: 0;
  text-align
}

.dsongentom {
  position: relative;
  top: 300px;
  max-width: 1080px;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  background-color: #111;
  opacity: 0.9;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.desetungavon {
  animation: typewriter 4s steps(44) 1s 1 normal both,
  blinkTextCursor 500ms steps(44) infinite normal;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 700px;
  margin: auto;
  text-align: center;
  margin-bottom: 100px;
}

.work {
  margin: 100px auto;
  text-align: center;
}

.work_image {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.work_text {
  width: 50%;
  margin: 20px auto;
  text-align: justify;
}

.number-pages {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.green {
  padding: 20px;
  background-color: #9ae6b4;
}

.spotify-description {
  position: relative;
  margin-left: 155px;
  text-align: left;
  font-size: 18px;
}

.clock {
  margin: 0 auto;
  color: #ffffff;
  background-color: #111;
  opacity: 0.9;
  max-width: 190px;
  font-size: 0.80rem;
  letter-spacing: 5px;
  text-align: center;
}

.time_description {
  margin: 0 auto;
  text-align: center;
  background-color: #111;
  max-width: 190px;
  opacity: 0.9;
  color: #fff;
  font-size: 0.80rem;
}

.topnav a:hover {
  color: #33b2db;
}

.topnav a.active {
  color: #33b2db;
}

.topnav .icon {
  display: none;
}

.logo {
  margin: 5px;
  width: 60px;
  border-radius: 50%;
}

/* ~~ Top Navigation Bar ~~ */
#navigation-container {
  margin: 0 0 0 170px;
  height: 70px;
}

.navigation-bar {
  height: 70px;
  width: 100%;
  text-align: left;
  background-color: rgb(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

.navigation-bar li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}

.navigation-bar li a {
  color: #34495e;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  line-height: 70px;
  padding: 5px 10px;
}

#menu {
  float: right;
}

.container-header {
  position: relative;
  text-align: center;
  color: white;
  line-height: 1.2;
  z-index: -1;
}

.header-title {
  font-size: 3.5em;
  font-weight: 600;
  color: #ffffff;
}

.header-description {
  font-size: 1.5em;
}

.centered {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  filter: brightness(60%);
  opacity: 0.93;
  position: relative;
}

.list-work {
  text-align: center;
}

.list-work ul {
  display: inline-block;
}

.list-work li {
  display: inline;
}

.list-work li a {
  color: black;
  padding: 14px 16px;
}

.list-work a.active {
  color: #33b2db;
}

/* Type Writer */
@keyframes typewriter{
  from {
  width: 0;
  }
  to {
  width: 24em;
  }
}

@keyframes blinkTextCursor{
  from {
  border-right-color: rgba(255,255,255,.75);
  }
  to {
  border-right-color: transparent;
  }
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-radius: 5px;
  font-weight: 500;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

@media screen and (max-width: 1024px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav a:not(:first-child) {
    display: none;
  }
  .navigation-bar ul li a {
    display: none;
    background-color: #111;
    opacity: 0.9;
    width: 300px;
    padding: 10;
    line-height: 60px;
  }
  #navigation-container {
    margin: 0;
    padding: 0;
  }
  .topnav a.icon {
    color: #111;
    float: right;
    display: block;
    margin: 20px;
  }
  .contact_text {
    width: 100%;
    margin: 40px auto 60px;
  }
  .container {
    width: 90%;
    border-radius: 5px;
  }
  .faq {
    width: 90%;
    margin: 50px 15px 50px 15px;
    text-align: left;
  }
  .works {
    width: 90%;
    margin: 50px 15px 50px 15px;
    text-align: center;
  }
  .card {
    width: 90%;
    margin: 0 auto;
  }
  .about {
    width: 90%;
    margin: 50px 15px 50px 15px;
    text-align: left;
  }
  .profile-img {
    width: 99%;
  }
  .dsongentom {
    position: relative;
    top: 300px;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    background-color: #111;
    opacity: 0.9;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
  }
  .work_image {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .work_text {
    width: 100%;
    margin: 20px auto;
    text-align: center;
  }
  .contact-text-main {
    width: 90%;
  }
  .intro {
    width: 96%;
  }
  .spotify-description {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .dsongentom {
    font-size: 12px;
  }
}

@media screen and (max-width: 319px) {
  .dsongentom {
    max-width: 240px;
    font-size: 6px;
  }
}
