* {
  box-sizing: border-box;
}

/* Spotify */
.spotify-logo {
  width: 33px;
  display: inline;
  vertical-align: middle;
}

.spotify-alert {
  padding: 20px;
  background-color: #1DB954;
}

.spotify-description{
  position: relative;
  margin-left: 15px;
  font-size: 16px;
  text-align: left;
  color: #ffffff;
}

body {
  margin: 0;
  font-family: "Roboto Mono", Sans-serif;
  background-color: #22272d;
  color: #ffffff;
}

.topnav {
  overflow: hidden;
  padding: 50px 10px;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
}

.topnav a:hover {
  color: #33ffa9;
}

.topnav a.active {
  color: #33ffa9;
}

.topnav .icon {
  display: none;
}

.topnav-left {
  float: left;
}

.btn {
  float: right;
  border: none;
  color: #23272D;
  padding: 14px 28px;
  margin: 0 5px 0 70px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.success {
  background-color: #ffffff;
}

.success:hover {
  background-color: #33ffa9;
}

.flex-container-intro {
  display: flex;
  flex-wrap: wrap;
}

.flex-item-left-intro {
  flex: 50%;
}

.flex-item-right-intro {
  flex: 50%;
}

.intro {
  margin: 90px 0 250px 0;
  padding-left: 16px;
}

h1 {
  font-size: 80px;
  line-height: 1.15em;
  letter-spacing: -1.5px;
}

.intro-description {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 1.58em;
  width: 90%;
}

.profile-pic {
  border-radius: 50%;
  width: 690px;
  float: right;
  margin: 90px 15px auto;
}

.button {
  background-color: #33FFA9;
  border: none;
  color: #23272D;
  padding: 25px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 25px 0;
  cursor: pointer;
}

.button:hover {
  background-color: #ffffff;
}

.social-links {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.4px;
  padding-top: 140px;
}

.social-links a {
  color: #33ffa9;
  opacity: .4;
  text-decoration: none;
  padding-right: 30px;
}

.social-links a:hover {
  opacity: 1;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
}

.flex-item-left {
  flex: 25%;
}

.flex-item-right {
  padding-left: 240px;
  flex: 75%;
}

h2 {
  font-size: 50px;
  padding-bottom: 40px;
}

hr.hr {
  border: 3px solid #33FFA9;
  margin: 90px 0 70px 0;
}

.about-description {
  font-size: 24px;
  color: #33FFA9;
  line-height: 38px;
}

.skills-description {
  font-size: 24px;
  line-height: 38px;
}

.button-linkedin {
  font-family: "Roboto Mono", Sans-serif;
  background-color: #ffffff;
  border: none;
  color: #23272D;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  letter-spacing: -0.2px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 70px;
}

.button-linkedin:hover {
  background-color: #33FFA9;
}

ul {
  list-style-type: none;
}

li {
  font-size: 24px;
  line-height: 38px;:
}

ul li:before {
  content: '';
  display: inline-block;
  height: 16px;
  width: 16px;
  background-size: 16px;
  background-image: url('../image/circle.svg');
  background-repeat: no-repeat;
  margin-right: 20px;
}

/* Style the footer */
.footer {
  background-color: #33FFA9;
  padding: 200px 0px 200px 0px;
  position: relative;

}

.footer-description {
  font-size: 50px;
  color: #23272D;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: -1px;
  padding: 15px;
  width: 60%;
}

.social-links-footer {
  padding-top: 30px;
}

.social-links-footer a {
  color: #23272D;
  text-decoration: none;
  padding-right: 30px;
  padding-left: 16px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.4px;
}

.social-links-footer a:hover {
  color: #ffffff;
  opacity: 1;
}

.copyright {
  float: right;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: -0.28px;
  color: #23272D;
  padding: 0 190px 0 0;
}

.bracket {
  width: 500px;
  position: absolute;
  top: 150px;
  right: 70px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .intro-description {
    width: 100%;
  }
  .flex-item-left {
    padding: 0px;
  }
  .flex-item-right {
    padding: 0px;
  }
  .profile-pic {
    width: 90%;
    padding: 1px;
    margin-bottom: 0;
    position: relative;
  }
  .btn {
    display: none;
  }
  .topnav-left {
    display: none;
  }
  .topnav {
    overflow: hidden;
    padding: 1px 10px;
  }
  .social-links {
    padding-top: 20px;
  }
  .social-links a {
    display: block;
    padding-bottom: 20px;
    font-size: 22px;
  }
  .intro {
    width: 90%;
    margin-bottom: 1px;
  }
  .footer {
    padding: 30px 15px 30px 1px;
  }
  .social-links-footer {
    padding-top: 1px;
  }
  .social-links-footer a {
    display: block;
    padding-bottom: 30px;
    font-size: 20px;
  }
  .copyright {
    text-align: center;
    float: none;
    padding: 0;
  }
  h1 {
    font-size: 32px;
    margin: 0 auto;
    width: 100%;
  }
  h2 {
    padding-bottom: 1px;
  }
  hr.hr {
    margin-bottom: 1px;
  }
  ul {
    padding-left: 1px;
  }
  li {
    font-size: 24px;
  }
  .footer-description {
    width: 100%;
    font-size: 36px;
    font-weight: 700;
  }
  .bracket {
    display: none;
  }
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 1366px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }
  .flex-item-right-intro, .flex-item-left-intro {
    flex: 100%;
  }
  .flex-container-intro {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 600px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}