<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RP42LSHPTS"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-RP42LSHPTS');
    </script>

    <meta charset="UTF-8">
    <title>Lenar Gasimov | About me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="https://github.com/lenargasimov/lenargasimov.github.io/blob/main/images/profile.png?raw=true">
    <meta property="og:type" content="profile">
    <meta property="og:title" content="Lenar Gasimov">
    <meta property="og:description" content="Hi there, nice to meet you. I'm Lenar Gasimov. Welcome to my world!">
    <meta property="og:url" content="https://lenargasimov.dev">
    <meta property="og:image" content="https://github.com/lenargasimov.png">
    <meta property="profile:first_name" content="Lenar">
    <meta property="profile:last_name" content="Gasimov">
    <meta name="theme-color" content="#131313">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<!-- Spotify alert -->
<div id="spotify"></div>
    <div class="topnav" id="myTopnav">
      <a href="../index.html">01 : Home</a>
      <a href="../templates/works.html">02 : Works</a>
      <a class="active" href="../templates/about.html">03 : About me</a>
      <a href="../templates/contact.html">04 : Contact</a>
      <a href="https://lenar-blog.herokuapp.com" target="_blank">05 : Blog</a>
      <a href="../templates/cv.html">06 : CV</a>
      <a href="../templates/faq.html">07 : FAQ</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <h2>03 : About me</h2>
    <div class="flex-container">
        <div class="flex-item-left">
        <h3>My name is Lenar</h3>
          <p>I am a Junior Python developer. I am looking for new opportunities to implement and
              increase my skills in software development and web development. New challenges don't bother me,
              but rather inspire, as they give me the opportunity to grow up and develop, and the habit of not give up
              helps me in this. Creating and building projects that solve or fix a problem is a high priority for me.
              Interested in web frameworks and everything related to Python. I love to code and learning new stuff. Completed #100DaysOfCode.</p>
        <h3>Skills</h3>
          <p>I specialize in full stack web development and writing readable code. Python, Flask, HTML, CSS,
            Bootstrap, Git, SQLite.</p>
        </div>
        <div class="flex-item-right">
            <img class="profile_img" src="../images/profile.jpg" alt="profile_pic">
        </div>
    </div>


  <!-- Footer -->
  <div class="bottom-container">
      <div class="footer-link">
        <a href="http://www.linkedin.com/in/lenargasimov" target="_blank" class="footer-link-contact" ><img src="../images/linkedin.svg" width="18px" alt=""></a>
        <a href="https://github.com/lenargasimov" target="_blank" class="footer-link-contact"><img src="../images/github.png" width="18px" alt=""></a>
        <a href="http://www.twitter.com/lenargasimov" target="_blank" class="footer-link-contact"><img src="../images/twitter.svg" width="18px" alt=""></a>
        <a href="https://www.facebook.com/djelectrostatic" target="_blank" class="footer-link-contact"><img src="../images/facebook.svg" width="18px" alt=""></a>
      </div>
    <!-- Year update -->
    <p class="copyright" style="color: black;">&copy; 2021<script>new Date().getFullYear()>2021&&document.write("-"+new Date().getFullYear());</script> Lenar Gasimov.</p>
  </div>
<script src="../js/index.js"></script>

</body>
</html>