<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RP42LSHPTS"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-RP42LSHPTS');
    </script>

    <meta charset="UTF-8">
    <title>Lenar Gasimov | Contact</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="https://github.com/lenargasimov.png">
    <meta property="og:type" content="profile">
    <meta property="og:title" content="Lenar Gasimov">
    <meta property="og:description" content="I'm Lenar. I'm a Python developer. I specialize in full stack web development and writing readable code.">
    <meta property="og:url" content="https://lenargasimov.dev">
    <meta property="og:image" content="https://github.com/lenargasimov.png">
    <meta property="profile:first_name" content="Lenar">
    <meta property="profile:last_name" content="Gasimov">
    <meta name="theme-color" content="#131313">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

</style>
</head>
<body>
<!-- Spotify alert -->
<div id="spotify"></div>

    <!--    Navbar-->
    <div class="navigation-bar">
        <div id="navigation-container">
            <div class="topnav" id="myTopnav">
              <img class="logo" src="../images/profile.png">
              <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../templates/about.html">About</a></li>
                <li><a href="../templates/works.html">Portfolio</a></li>
                <li><a href="https://lenar-blog.herokuapp.com" target="_blank">Blog</a></li>
                <li><a href="../templates/cv.html">CV</a></li>
                <li><a href="../templates/faq.html">FAQ</a></li>
                <li><a class="active" href="../templates/contact.html">Contact</a></li>
              </ul>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
            </div>
        </div>
    </div>


    <div class="container-header">
        <img class="header-image" src="https://images.unsplash.com/photo-1498230870289-7561110a6e69?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" alt="">
        <div class="centered">
                <p class="header-title">Contact Me</p>
        </div>
    </div>
    <br>

    <!-- Contact -->
    <div class="contact-me">
        <div class="contact_text">
            <p class="contact-text-main">If you have an offer, opportunity, or introduction that makes my life more interesting,
            e-mail me at the provided e-mail address below.
                <br><small>*a bit overwhelmed with emails at the moment, please allow me more time to respond to them. Thank you.</small>
            </p>

        <p><img src="../images/email.svg" width="18px" alt="">   lenargasimov@yahoo.com</p>
        <h3>Follow me on social networks</h3>
            <br>
        <a href="http://www.linkedin.com/in/lenargasimov" target="_blank" class="contact" ><img src="../images/linkedin.svg" width="18px" alt=""></a>
        <a href="https://github.com/lenargasimov" target="_blank" class="contact"><img src="../images/github.png" width="18px" alt=""></a>
        <a href="http://www.twitter.com/lenargasimov" target="_blank" class="contact"><img src="../images/twitter.svg" width="18px" alt=""></a>
        <a href="https://www.facebook.com/djelectrostatic" target="_blank" class="contact"><img src="../images/facebook.svg" width="18px" alt=""></a>
        <div class="row">
            <div class="column">
              <img src="https://images.unsplash.com/photo-1547499681-28dece7dba00?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" style="width:100%">
            </div>
            <div class="column">
                <form action="https://formspree.io/f/xdoyagbr" method="POST">
                  <input type="text" id="email" name="_replyto" placeholder="Email">
                  <input type="text" id="subject" name="subject" placeholder="Subject">
                  <textarea id="message" name="message" placeholder="Enter your message" style="height:200px"></textarea>
                  <button class="btn">Send</button>
                </form>
            </div>
            </div>
        </div>
    </div>

    <!-- Year update -->
    <p class="copyright" style="color: black;">&copy; 2021<script>new Date().getFullYear()>2021&&document.write("-"+new Date().getFullYear());</script> Lenar Gasimov.</p>

<script src="../js/index.js"></script>

</body>
</html>