<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RP42LSHPTS"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-RP42LSHPTS');
    </script>

    <meta charset="UTF-8">
    <title>Lenar Gasimov | Faq</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="https://github.com/lenargasimov/lenargasimov.github.io/blob/main/images/profile.png?raw=true">
    <meta property="og:type" content="profile">
    <meta property="og:title" content="Lenar Gasimov">
    <meta property="og:description" content="Hi there, nice to meet you. I'm Lenar Gasimov. Welcome to my world!">
    <meta property="og:url" content="https://lenargasimov.dev">
    <meta property="og:image" content="https://github.com/lenargasimov.png">
    <meta property="profile:first_name" content="Lenar">
    <meta property="profile:last_name" content="Gasimov">
    <meta name="theme-color" content="#131313">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<!-- Spotify alert -->
<div id="spotify"></div>
    <div class="topnav" id="myTopnav">
      <a style="color: white;" href=""><img src="../images/profile.png" width="64px" alt=""></a>
      <a href="../index.html">01 : Home</a>
      <a href="../templates/works.html">02 : Works</a>
      <a href="../templates/about.html">03 : About me</a>
      <a href="../templates/contact.html">04 : Contact</a>
      <a href="https://lenar-blog.herokuapp.com" target="_blank">05 : Blog</a>
      <a href="../templates/cv.html">06 : CV</a>
      <a class="active" href="../templates/faq.html">07 : FAQ</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <h2>07 : Faq</h2>
    <div class="faq">
        <h4>Personal details:</h4>
        <p>Where are you from?: Naberezhnye Chelny, Tatarstan, Russia.</p>
        <p>Major: Python Developer.</p>
        <p>What did you study for?: Bachelors degree in managment, economist.</p>
        <p>What year did graduate?: In 2017 he graduated with honours from the Moscow Synergy University.</p>
        <p>What are your hobbies?: DJing, vinyl records, books, vintage, art, traveling, more.</p>
        <h4>Studying:</h4>
        <p>Why do you study so much?: I like to push myself.</p>
        <p>How do you stay motivated to study?: I don't try to rely on my motivation (it's volatile) to study. At this
            point it's become a habit for me, but I usually rely on my drive to succeed to push me through
            the tough parts.</p>
        <p>How do I study for daily?: Practice. You have to approach it like learning a new skill. Push yourself
            slightly above your upper limit consistently and you will get better. If you push yourself too hard you
            will burnout. There is a balance of pushing yourself too hard and just hard enough to get peak improvement.
            I have had a lot a lot of practice.</p>
        <p>What are the frequently used programs on your computer?: PyCharm, Be Focused, TickTick, GitHub Desktop, Spotify.</p>
        <p>What is your laptop?: MacBook Air (13-inch, Mid 2011), 1.7GHz dual-core Intel Core i5, 4GB of 1333MHz, 256GB.</p>
        <p>What are your favorite self help books?: A Mind For Numbers: How to Excel at Math and Science by Barbara Oakley, Jedi Techniques by Maxim Dorofeev, Atomic habits by James Clear.</p>
        <p>What do you listen to while work?: Ambient.</p>
        <p>Do you study or work on the weekends?: I do light work, layout, coding something interesting, read books.</p>
        <h4>Important links:</h4>
        <p><a href="https://www.last.fm/user/lenargasimov" target="_blank">last.fm</a></p>
        <p><a href="https://www.livelib.ru/reader/lenargasimov" target="_blank">livelib</a></p>
        <p><a href="https://soundcloud.com/djelectrostatic" target="_blank">soundcloud</a></p>
        <h3 style="text-align: center;">Thank you!</h3>
    </div>

  <!-- Footer -->
  <div class="bottom-container">
      <div class="footer-link">
        <a href="http://www.linkedin.com/in/lenargasimov" target="_blank" class="footer-link-contact" ><img src="../images/linkedin.svg" width="18px" alt=""></a>
        <a href="https://github.com/lenargasimov" target="_blank" class="footer-link-contact"><img src="../images/github.png" width="18px" alt=""></a>
        <a href="http://www.twitter.com/lenargasimov" target="_blank" class="footer-link-contact"><img src="../images/twitter.svg" width="18px" alt=""></a>
        <a href="https://www.facebook.com/djelectrostatic" target="_blank" class="footer-link-contact"><img src="../images/facebook.svg" width="18px" alt=""></a>
      </div>
    <!-- Year update -->
    <p class="copyright" style="color: black;">&copy; 2021<script>new Date().getFullYear()>2021&&document.write("-"+new Date().getFullYear());</script> Lenar Gasimov.</p>
  </div>
<script src="../js/index.js"></script>

</body>
</html>