<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RP42LSHPTS"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-RP42LSHPTS');
    </script>

    <meta charset="UTF-8">
    <title>Lenar Gasimov | Faq</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="https://github.com/lenargasimov.png">
    <meta property="og:type" content="profile">
    <meta property="og:title" content="Lenar Gasimov">
    <meta property="og:description" content="I'm Lenar. I'm a Python developer. I specialize in full stack web development and writing readable code.">
    <meta property="og:url" content="https://lenargasimov.dev">
    <meta property="og:image" content="https://github.com/lenargasimov.png">
    <meta property="profile:first_name" content="Lenar">
    <meta property="profile:last_name" content="Gasimov">
    <meta name="theme-color" content="#131313">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<!-- Spotify alert -->
<div id="spotify"></div>

    <!--    Navbar-->
    <div class="navigation-bar">
        <div id="navigation-container">
            <div class="topnav" id="myTopnav">
              <img class="logo" src="../images/profile.png">
              <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../templates/about.html">About</a></li>
                <li><a href="../templates/works.html">Portfolio</a></li>
                <li><a href="https://lenar-blog.herokuapp.com" target="_blank">Blog</a></li>
                <li><a href="../templates/cv.html">CV</a></li>
                <li><a class="active" href="../templates/faq.html">FAQ</a></li>
                <li><a href="../templates/contact.html">Contact</a></li>
              </ul>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
            </div>
        </div>
    </div>

    <!--    Header-->
    <div class="container-header">
        <img class="header-image" src="https://images.unsplash.com/photo-1531592937781-344ad608fabf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" alt="">
        <div class="centered">
                <p class="header-title">Faq</p>
                <p class="header-description">Do you have questions? I have answers.</p>
        </div>
    </div>

    <div class="faq">
        <h4>Personal details:</h4>
        <p><b>Where are you from?</b> <br>
            Naberezhnye Chelny, Tatarstan, Russia.</p>
        <p>Major: Python Developer.</p>
        <p>What did you study for?: Bachelors degree in managment, economist and courses on web development (see my <a href="../templates/cv.html" target="_blank">CV</a> for more details).</p>
        <p>What are your hobbies?: DJing, vinyl records, books, vintage, art, traveling, more.</p>
        <h4>Studying:</h4>
        <p>Why do you study so much?: I like to push myself.</p>
        <p>How do you stay motivated to study?: I don't try to rely on my motivation (it's volatile) to study. At this
            point it's become a habit for me, but I usually rely on my drive to succeed to push me through
            the tough parts.</p>
        <p>How do I study for daily?: Practice. You have to approach it like learning a new skill. Push yourself
            slightly above your upper limit consistently and you will get better. If you push yourself too hard you
            will burnout. There is a balance of pushing yourself too hard and just hard enough to get peak improvement.
            I have had a lot a lot of practice.</p>
        <p>What are the frequently used programs on your computer?: PyCharm, TickTick, GitHub Desktop, Spotify.</p>
        <p>What are your favorite self help books?: A Mind For Numbers: How to Excel at Math and Science by Barbara Oakley, Jedi Techniques by Maxim Dorofeev, Atomic habits by James Clear.</p>
        <p>What do you listen to while work?: Ambient.</p>
        <p>Do you study or work on the weekends?: I do light work, layout, coding something interesting, read books.</p>
        <h4>Important links:</h4>
        <p><a href="https://www.last.fm/user/lenargasimov" target="_blank">last.fm</a></p>
        <p><a href="https://www.livelib.ru/reader/lenargasimov" target="_blank">livelib</a></p>
        <p><a href="https://soundcloud.com/djelectrostatic" target="_blank">soundcloud</a></p>
        <h3 style="text-align: center;">Thank you!</h3>
    </div>

  <!-- Footer -->
  <div class="bottom-container">
      <div class="footer-link">
        <a href="http://www.twitter.com/lenargasimov" target="_blank" class="footer-link-contact"><img src="../images/twitter.svg" width="18px" alt=""></a>
        <a href="http://www.linkedin.com/in/lenargasimov" target="_blank" class="footer-link-contact" ><img src="../images/linkedin.svg" width="18px" alt=""></a>
        <a href="https://github.com/lenargasimov" target="_blank" class="footer-link-contact"><img src="../images/github.png" width="18px" alt=""></a>
      </div>

    <!-- Year update -->
    <p class="copyright">&copy; 2021<script>new Date().getFullYear()>2021&&document.write("-"+new Date().getFullYear());</script> Lenar Gasimov.</p>
  </div>
<script src="../js/index.js"></script>

</body>
</html>