<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RP42LSHPTS"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-RP42LSHPTS');
    </script>

    <meta charset="UTF-8">
    <title>Lenar Gasimov | Dj booking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="https://github.com/lenargasimov.png">
    <meta property="og:type" content="profile">
    <meta property="og:title" content="Lenar Gasimov">
    <meta property="og:description" content="I'm Lenar. I'm a Python developer. I specialize in full stack web development and writing readable code.">
    <meta property="og:url" content="https://lenargasimov.dev">
    <meta property="og:image" content="https://github.com/lenargasimov.png">
    <meta property="profile:first_name" content="Lenar">
    <meta property="profile:last_name" content="Gasimov">
    <meta name="theme-color" content="#131313">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<!-- Spotify alert -->
<div id="spotify"></div>

    <!--    Navbar-->
    <div class="navigation-bar">
        <div id="navigation-container">
            <div class="topnav" id="myTopnav">
              <img class="logo" src="../images/profile.png">
              <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../templates/about.html">About</a></li>
                <li><a class="active" href="../templates/works.html">Portfolio</a></li>
                <li><a href="https://lenar-blog.herokuapp.com" target="_blank">Blog</a></li>
                <li><a href="../templates/cv.html">CV</a></li>
                <li><a href="../templates/faq.html">FAQ</a></li>
                <li><a href="../templates/contact.html">Contact</a></li>
              </ul>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
            </div>
        </div>
    </div>

    <ul class="list-work">
        <li><a href="../templates/work1.html" title="">001</a></li>
        <li class="active"><a href="../templates/work2.html" title="" class="active">002</a></li>
        <li><a href="../templates/work3.html" title="">003</a></li>
<!--        <li><a href="./index.html" title="">004</a></li>-->
<!--        <li><a href="./index.html" title="">005</a></li>-->
<!--        <li><a href="./index.html" title="">006</a></li>-->
    </ul>

    <h2>Dj booking</h2>
    <div class="work">
        <img class="work_image" src="https://sun9-39.userapi.com/impf/c857736/v857736170/ba564/u9jGACj72RA.jpg?size=1280x804&quality=96&sign=5bd4fcfe6f2a81dd81f93a91ca8d4a83&type=album" alt="dj">
        <p class="work_text">Simple booking page(HTML, CSS).</p>
        <p><a href="https://github.com/djelectrostatic/booking" target="_blank">https://github.com/djelectrostatic/booking</a></p>
        <p><a href="https://djelectrostatic.github.io/booking">https://djelectrostatic.github.io/booking</a></p>
        <img class="work_image" src="../images/booking.png" alt="">
    </div>


  <!-- Footer -->
  <div class="bottom-container">
      <div class="footer-link">
        <a href="http://www.linkedin.com/in/lenargasimov" target="_blank" class="footer-link-contact" ><img src="../images/linkedin.svg" width="18px" alt=""></a>
        <a href="https://github.com/lenargasimov" target="_blank" class="footer-link-contact"><img src="../images/github.png" width="18px" alt=""></a>
        <a href="http://www.twitter.com/lenargasimov" target="_blank" class="footer-link-contact"><img src="../images/twitter.svg" width="18px" alt=""></a>
        <a href="https://www.facebook.com/djelectrostatic" target="_blank" class="footer-link-contact"><img src="../images/facebook.svg" width="18px" alt=""></a>
      </div>
    <!-- Year update -->
    <p class="copyright" style="color: black;">&copy; 2021<script>new Date().getFullYear()>2021&&document.write("-"+new Date().getFullYear());</script> Lenar Gasimov.</p>
  </div>
<script src="../js/index.js"></script>

</body>
</html>