<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RP42LSHPTS"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-RP42LSHPTS');
    </script>

    <meta charset="UTF-8">
    <title>Lenar Gasimov | Works</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="https://github.com/lenargasimov.png">
    <meta property="og:type" content="profile">
    <meta property="og:title" content="Lenar Gasimov">
    <meta property="og:description" content="I'm Lenar. I'm a Python developer. I specialize in full stack web development and writing readable code.">
    <meta property="og:url" content="https://lenargasimov.dev">
    <meta property="og:image" content="https://github.com/lenargasimov.png">
    <meta property="profile:first_name" content="Lenar">
    <meta property="profile:last_name" content="Gasimov">
    <meta name="theme-color" content="#131313">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<!-- Spotify alert -->
<div id="spotify"></div>

    <!--    Navbar-->
    <div class="navigation-bar">
        <div id="navigation-container">
            <div class="topnav" id="myTopnav">
              <img class="logo" src="../images/profile.png">
              <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../templates/about.html">About</a></li>
                <li><a class="active" href="../templates/works.html">Portfolio</a></li>
                <li><a href="https://lenar-blog.herokuapp.com" target="_blank">Blog</a></li>
                <li><a href="../templates/cv.html">CV</a></li>
                <li><a href="../templates/faq.html">FAQ</a></li>
                <li><a href="../templates/contact.html">Contact</a></li>
              </ul>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
            </div>
        </div>
    </div>

    <!--    Header-->
    <div class="container-header">
        <img class="header-image" src="https://images.unsplash.com/photo-1478486982180-2de2fafa19f9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80" alt="">
        <div class="centered">
                <p class="header-title">Portfolio</p>
        </div>
    </div>

    <div class="works">
        <p>Here you can see some of my works. Feel free to check my <a href="https://github.com/lenargasimov"
           target="_blank">GitHub</a> repo for code. You can also browse all the projects I've found interesting by
            looking at what I've starred.</p>

    </div>
    <div class="card">
      <p class="number-pages">001/006</p>
      <img src="https://images.unsplash.com/photo-1481887328591-3e277f9473dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1060&q=80" alt="Blog" style="width:100%">
      <h1>Blog Project on Python</h1>
      <p>RESTful Blog with Editing. Admin can create new blog posts, edit posts and delete posts. All inside the blog website.</p>
      <p><a href="../templates/work1.html"><button>Discover</button></a></p>
    </div>

    <div class="card">
      <p class="number-pages">002/006</p>
      <img src="https://gp1.wac.edgecastcdn.net/802892/http_public_production/artists/images/1804336/original/crop:x0y0w604h453/hash:1472677439/fdkummckhm.jpg?1472677439" alt="DJ" style="width:100%">
      <h1>Dj booking</h1>
      <p>Simple booking page(Bootstrap)</p>
      <p><a href="../templates/work2.html"><button>Discover</button></a></p>
    </div>

    <div class="card">
      <p class="number-pages">003/006</p>
      <img src="https://github.com/lenargasimov/stickerbot/blob/master/bot.png?raw=true" alt="Bot" style="width:100%">
      <h1>Itpytonbot</h1>
      <p>Wrote a bot from which you can find out the weather in any city, the exchange rate of foreign currencies, and if you write "Guido" in response, the bot sends a sticker that says "Python drives".</p>
      <p><a href="../templates/work3.html"><button>Discover</button></a></p>
    </div>

  <!-- Footer -->
  <div class="bottom-container">
      <div class="footer-link">
        <a href="http://www.twitter.com/lenargasimov" target="_blank" class="footer-link-contact"><img src="../images/twitter.svg" width="18px" alt=""></a>
        <a href="http://www.linkedin.com/in/lenargasimov" target="_blank" class="footer-link-contact" ><img src="../images/linkedin.svg" width="18px" alt=""></a>
        <a href="https://github.com/lenargasimov" target="_blank" class="footer-link-contact"><img src="../images/github.png" width="18px" alt=""></a>
      </div>

    <!-- Year update -->
    <p class="copyright">&copy; 2021<script>new Date().getFullYear()>2021&&document.write("-"+new Date().getFullYear());</script> Lenar Gasimov.</p>
  </div>

<script src="../js/index.js"></script>

</body>
</html>