<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RP42LSHPTS"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-RP42LSHPTS');
    </script>

    <meta charset="UTF-8">
    <title>Lenar Gasimov | Blog Project on Python</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="https://github.com/lenargasimov/lenargasimov.github.io/blob/main/images/profile.png?raw=true">
    <meta property="og:type" content="profile">
    <meta property="og:title" content="Lenar Gasimov">
    <meta property="og:description" content="Hi there, nice to meet you. I'm Lenar Gasimov. Welcome to my world!">
    <meta property="og:url" content="https://lenargasimov.dev">
    <meta property="og:image" content="https://github.com/lenargasimov.png">
    <meta property="profile:first_name" content="Lenar">
    <meta property="profile:last_name" content="Gasimov">
    <meta name="theme-color" content="#131313">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<!-- Spotify alert -->
<div id="spotify"></div>
    <div class="topnav" id="myTopnav">
      <a style="color: white;" href=""><img src="../images/profile.png" width="64px" alt=""></a>
      <a href="../index.html">01 : Home</a>
      <a class="active" href="../templates/works.html">02 : Works</a>
      <a href="../templates/about.html">03 : About me</a>
      <a href="../templates/contact.html">04 : Contact</a>
      <a href="https://lenar-blog.herokuapp.com" target="_blank">05 : Blog</a>
      <a href="../templates/cv.html">06 : CV</a>
      <a href="../templates/faq.html">07 : FAQ</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <ul>
        <li class="active"><a href="../templates/work1.html" title="">001</a></li>
        <li><a href="../templates/work2.html" title="">002</a></li>
        <li><a href="../templates/work3.html" title="">003</a></li>
        <li><a href="./index.html" title="">004</a></li>
        <li><a href="./index.html" title="">005</a></li>
        <li><a href="./index.html" title="">006</a></li>
    </ul>

    <h2>Blog Project on Python</h2>
    <div class="work">
        <img class="work_image" src="https://images.unsplash.com/photo-1457305237443-44c3d5a30b89?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80" alt="blog">
        <p class="work_text">Blog Project on Python. Anyone can sign up and comment on the blog posts.</p>
        <p class="work_text">RESTful Blog with Editing. Admin can create new blog posts, edit posts and delete posts. All inside the blog website.</p>
        <p><a href="https://lenar-blog.herokuapp.com" target="_blank">https://lenar-blog.herokuapp.com</a></p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wzywx3VVcVE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>


  <!-- Footer -->
  <div class="bottom-container">
      <div class="footer-link">
        <a href="http://www.linkedin.com/in/lenargasimov" target="_blank" class="footer-link-contact" ><img src="../images/linkedin.svg" width="18px" alt=""></a>
        <a href="https://github.com/lenargasimov" target="_blank" class="footer-link-contact"><img src="../images/github.png" width="18px" alt=""></a>
        <a href="http://www.twitter.com/lenargasimov" target="_blank" class="footer-link-contact"><img src="../images/twitter.svg" width="18px" alt=""></a>
        <a href="https://www.facebook.com/djelectrostatic" target="_blank" class="footer-link-contact"><img src="../images/facebook.svg" width="18px" alt=""></a>
      </div>
    <!-- Year update -->
    <p class="copyright" style="color: black;">&copy; 2021<script>new Date().getFullYear()>2021&&document.write("-"+new Date().getFullYear());</script> Lenar Gasimov.</p>
  </div>
<script src="../js/index.js"></script>

</body>
</html>